<!-- had to remove the Bootstrap class on the footer because it made the footer block other content -->
<footer>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><%= link_to 'Home', root_path, class:"nav-link px-2 text-muted" %></li>
      <li class="nav-item"><%= link_to 'Browse Meals', categories_path, class:"nav-link px-2 text-muted" %></li>
      <li class="nav-item"><%= link_to 'Leaderboard', leaderboard_path, class:"nav-link px-2 text-muted" %>   </li>
      <li class="nav-item"><%= link_to 'About us', 'about', class:"nav-link px-2 text-muted" %></li>
    </ul>
    <p class="text-center text-muted">Team 15</p>
  </footer>
