
    <div class="container">
        
        <h3>Leaderboard</h3>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-paleo" role="tabpanel" aria-labelledby="nav-paleo-tab">  <!-- Tab for Paleo-->
            <div class="my-5 mx-3 ">
                <div class="row my-5">                            <!-- DISECTING PAGE INTO ROW WITH SPACE BETWEEN MARGIN OF 5-->
                  <div class="col-1">                                            <!-- CREATING FIRST COLUMN SPECIFIED WITH 1 WIDTH-->      
                    <div class="bg-secondary p-4 text-center rounded shadow-lg"> no.likes  
                    </div>
                  </div>
                  <div class="col-4">                                            <!-- CREATING SECOND COLUMN SPECIFIED WITH 1 WIDTH-->   
                    <div class="bg-secondary p-4 text-center rounded shadow-lg">                <!-- For Creating card for the image of the meal -->
                      <div class="card border-3 bg-dark" style="width:275">                    <!-- CARD INSIDE OF CONTAINER  -->
                        <img src="/app/assets/images/meal image.jpg" class="card-img-top" alt="...">             <!-- IMAGE INSIDE CARD -->
                        <div class="card-body">
                          <h5 class="card-title fw-bolder text-light">Paelo</h5>
                          <a href="#" class="btn btn-primary btn">Find out more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-7">                                            <!-- CREATING THIRD COLUMN SPECIFIED WITH 7 WIDTH TO CONTAIN TABLE-->   
                    <div class="bg-secondary p-4 text-center rounded shadow-lg">
                      <table class="table">                              <!-- TABLE FOR MACRO NUTRIENTS -->
                        <thead>
                          <tr>
                            <th scope="col">Calories</th>                       <!-- FIRST ROW -->
                            <th scope="col">Protein</th>                        <!-- SECOND ROW --> 
                            <th scope="col">Fat</th>                            <!-- THIRD ROW -->
                            <th scope="col">Carbs</th>                          <!-- FIRST ROW -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>                                <!--VALUE FOR CALORIES -->
                            <td>#</td>                                           <!-- VALUE FOR PROTEIN -->
                            <td>#</td>                                           <!-- VALUE FOR FAT-->
                            <td>#</td>                                           <!-- VALUE FOR CARBS -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="tab-pane fade" id="nav-vegan" role="tabpanel" aria-labelledby="nav-vegan-tab">
    
          
          </div>
        
          <div class="tab-pane fade" id="nav-vegetarian" role="tabpanel" aria-labelledby="nav-vegetarian-tab">
    
          </div>
        
          <div class="tab-pane fade" id="nav-pescatarian" role="tabpanel" aria-labelledby="nav-pescatarian-tab">
    
          </div>
        </div>  
      </div>

